<h1 class="text-center">Hi human!</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="title col-12"><h3>Enter the age and the operation will be done automatically!</h3></div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><label for="firstAge">First age: </label>
        <input [(ngModel)]="firstAge" type="number" id="firstAge" name="firstAge" min="1" max="100"></p>
      <p><label for="secondAge">Second age: </label>
        <input [(ngModel)]="secondAge" type="number" id="secondAge" name="secondAge" min="1" max="100"></p>
    </div>
    <div class="col-6">
      <h3>Addition: {{calculateAddition()}}</h3>
      <h3>Average: {{calculateAverage()}}</h3>
    </div>
    <div class="col-16">
      <button type="button" class="btn btn-outline-danger btn-lg" (click)="clean()">Clean!</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
